* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.menu {
    flex: 1;
}

.menu-list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;

    background-image: url('/static/images/inventory.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.menu-item {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: 1s;
}


.menu-item:hover {
    flex: 2;
    transition: 1s;
}

.menu-item a {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;

    background-color: rgba(38, 38, 38, 0.9);
    text-decoration: none;
    line-height: 0;
    color: whitesmoke;
    font-size: 40px;

    transition: 1s;
}

a.selected {
    background-color: rgba(38, 38, 38, 0.5);
    font-size: 50px;
    transition: 1s;
}

.menu-item a:hover {
    background-color: rgba(38, 38, 38, 0.5);
    font-size: 50px;
    transition: 1s;
}

.menu-item img {
    height: 1em;
}

.back {
    flex: .2;
}

.back:hover {
    flex: .2;
}

.back a {
    background-color: rgb(50, 50, 50);
}

.back a:hover {
    font-size: 40px;
    background-color: rgb(70, 70, 70);
}

.menu-item form {
    display: none;
    flex-direction: column;
    flex: 4;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: .8em;
    padding: .8em;

    background-color: rgba(38, 38, 38, 0.5);

    color: whitesmoke;
    font-size: 26px;
    line-height: 0;
}

.menu-item form button {
    font-size: 20px;
    height: 2em;
    width: 12em;
    background-color: rgba(38, 38, 38, 0.5);
    color: whitesmoke;
    transition: .5s;
    border-radius: 4px;
}

.menu-item form button:hover {
    background-color: rgba(38, 38, 38, 0.9);
    cursor: pointer;
    transition: .5s;
}

.label-field {
    display: flex;
    align-items: center;
    gap: .4em;
}

.label-field input {
    height: 2em;
    width: 12em;
    border: 2px solid rgba(38, 38, 38, 0.9);
    border-radius: 4px;
    font-size: 18px;
}

.label-field select {
    height: 2em;
    width: 12em;
    border: 2px solid rgba(38, 38, 38, 0.9);
    border-radius: 4px;
    font-size: 18px;
}