<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/marketplace.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/cart.png') }}" type="image/x-icon">
</head>

<body>
    <main>
        <div id="marketplace">
            <ul class="product-list black-scrollbar">
                {% for product in products %}
                <form action="{{ url_for('marketplace_add') }}" method="post" style="display: none;"
                    id="{{ product['id'] }}-add">
                    <input type="text" value="{{ product }}" name="product">
                </form>
                <form action="{{ url_for('marketplace_remove') }}" method="post" style="display: none;"
                    id="{{ product['id'] }}-remove">
                    <input type="text" value="{{ product }}" name="product">
                </form>
                <li class="product-list-item">
                    <span class="product-name">{{ product['nome'] }}</span>
                    <div>
                        <button class="b-minus" type="submit" form="{{ product['id'] }}-remove">-</button>
                        <span class="product-quantity">0</span>
                        <button class="b-plus" type="submit" form="{{ product['id'] }}-add">+</button>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <nav>
                <a href="{{ url_for('home') }}" class="back">
                    <img src="{{ url_for('static', filename='images/curve-arrow.png') }}" alt="row_left">
                    <span>Voltar</span>
                </a>
                <a href="{{ url_for('marketplace_submit') }}">
                    <img src="{{ url_for('static', filename='images/file-submit.png') }}" alt="submit">
                    <span>Finalizar</span>
                </a>
            </nav>
        </div>
    </main>

    <script src="{{ url_for('static', filename='scripts/marketplace.js') }}"></script>
</body>

</html>