<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatórios</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/reports.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/cart.png') }}" type="image/x-icon">

</head>

<body>
    <div class="cover">
        <main>
            <ul class="purchases black-scrollbar">
                {% for sale in vendas%}
                <div class="sale">
                    {% for product in sale %}

                    {% if not loop.last %}
                    <div class="sale-product">
                        <span>{{ product['nome'] }} x {{ product['quantidade'] }}</span>
                        <span>{{ product['quantidade'] * product['preco'] }}</span>
                    </div>
                    {% endif %}

                    {% if loop.last %}
                    <div class="sale-product total">
                        <span>Total</span>
                        <span>{{ product }}</span>
                    </div>
                    {% endif %}

                    {% endfor %}
                </div>
                {% endfor %}
            </ul>
            <a href="{{ url_for('management') }}" class="back">
                <img src="{{ url_for('static', filename='images/curve-arrow.png') }}" alt="">
                <span>Voltar</span>
            </a>
        </main>
    </div>
</body>

</html>